<footer class="page-footer blue-grey darken-4 center-on-small-only">

    <!--Footer Links-->
    <div class="container">
        <div class="row">

            <!--First column-->
            <div class="col s4">
                <h5 class="title">SenImmo</h5>
                <p>SenImmo est une entreprise qui met à la disposition de la population des habitations de luxe</p>
            </div>
            <!--/.First column-->

            <!--Second column-->
            <div class="col s4">
                <h5 class="title">Nos agences</h5>
                <ul>
                    <li><a href="#" style="color:white">Almadie</a></li>
                    <li><a href="#" style="color:white" >Marite</a></li>
                    <li><a href="#" style="color:white">Dakar</a></li>
                    <li><a href="#" style="color:white">Sacré coeur</a></li>
                </ul>
            </div>
            <!--/.Second column-->
            <div class="col s4">
                <h5 class="title">Nos site</h5>
                <ul>
                    <li><a href="#" style="color:white">Facebook</a></li>
                    <li><a href="#" style="color:white" >Twitter</a></li>
                </ul>
            </div>
            <!-- third column -->
        </div>
    </div>
    <!--/.Footer Links-->

    <!--Copyright-->
    <div class="footer-copyright">
        <div class="container-fluid">
            © 2018 Copyright: <a href="https://www.SenImmo.com"> SenImmo.com </a>
        </div>
    </div>
    <!--/.Copyright-->
</footer>
<!--/.Footer-->
