<div class="example-container">
    <app-header></app-header>
    <br><br><br>
<mat-card class="example-card">
  <div class="row">
    <div class="col s4">
    <mat-card-content>
    <mat-card-header>
      </mat-card-header>
      <img mat-card-image style="width:400" class="img-responsive hoverable" src="data:image/png;base64,{{bien.images[0].image}}">
     </mat-card-content>
<mat-card>
<p>C'est un(e)  {{bien.typebien.libelletype}},</p>
<p>de prix {{ bien.prix_loc }} fr cfa</p>
<p>{{bien.description}}</p>
</mat-card>
</div>


<div class="col s6" style="margin-left:100px" >
  <mat-tab-group>
  <mat-tab label="Inscription">
  <app-formi></app-formi>
  </mat-tab>
  <mat-tab label="Connexion">
<app-formc></app-formc>
  </mat-tab>
</mat-tab-group>
</div>
</div>
</mat-card>
<app-footer></app-footer>

</div>
